backports.tarfile==1.2.0
flask==3.1.1
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pip-chill==1.0.3
scikit-learn==1.7.1
streamlit==1.48.0
tomli==2.0.1
torchaudio==2.5.0.dev20241126
torchvision==0.20.0.dev20241126
yfinance==0.2.65
